.main-section-scroll{
    background: linear-gradient(to bottom, #222222 0%, #222222 5%, #111111 30%, #111111 100%);
    background-attachment: local, scroll;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 12px 20px;
    height: 100%;
    h2{
        margin-bottom: 10px;
        font-size: 20x;
    }
    .grid{
        display: flex;
        margin-bottom: 40px;
        .card{
            display: flex;
            position: relative;
            flex-direction: column;
            width: 162px;
            box-sizing: border-box;
            border: 0;
            color: white;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 10px;
            padding: 12px 10px 12px 10px;
            cursor: pointer;
            user-select: none;
            .wykonawcy-image{
                align-self: center;
                border-radius: 50%;
                margin-bottom: 8px;
            }
            .image{
                margin-bottom: 8px;
                border-radius: 7px;
            }
            p{
                align-self: flex-start;
                font-size: 15px;
            }
            .description{
                margin-top: 3px;
                font-size: 13.5px;
                color: #B3B3B3;
            }
            .play-icon{
                position: absolute;
                right: 15px;
                top: 105px;
                background-color: #1ED760;
                box-sizing: border-box;
                padding: 5px;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0;
                color: black;
                opacity: 0;
                transition: opacity 0.2s ease, transform 0.2s ease;
                svg{
                    margin-left: 2px;
                    width: 22px;
                    height: 20px;
                }
            }
        }
        .card:hover{
            background-color: #1F1F1F
        }
        .card:hover .play-icon {
            opacity: 1;
            transform: translateY(-20%);
          }
        img{
            height: 140px;
            width: 140px;
        }
    }
}

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    p:nth-child(2){
        font-weight: bold;
        font-size: 36px;
    }
    p:nth-child(3){
        font-size: 18px;
    }    
    svg{
        width: 60px;
        height: 60px;
        flex-shrink: 0;
    }
}

